@charset "utf-8";
.MovieList>h1{
    margin-bottom: 20px;
}
.filters{
    display: flex;
    margin: 10px 0;
}
.filters p{
    margin-top: 2px;
    margin-right: 10px;
}
.filters button{
    border: 1px solid #CCCCCC;
    padding: 2px 16px;
    border-radius: 6px;
    background-color: #f6f6f6;
}
.filters button{
    margin: 0 8px;
}
.filters button.active{
    font-weight: 700;
}
.filtered h2{
    margin: 20px 0;
}
